/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;

}

:root {
  --bgOrange: #e84949;
  /* global variable khud ka bana leya yha pr */
}

#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: -o-linear-gradient(45deg, #f3f2fd #f3f2fd, #e6e5f7);
  background: linear-gradient(45deg, #f3f2fd #f3f2fd, #e6e5f7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 245, 245, .8)), to(rgba(245, 245, 245, .8))), url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
  background: -o-linear-gradient(left, rgba(245, 245, 245, .8), rgba(245, 245, 245, .8)), url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
  background: linear-gradient(to right, rgba(245, 245, 245, .8), rgba(245, 245, 245, .8)), url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
  background-size: cover;
  background-position: center;

}

.container {
  width: 1200px;
  margin: 0 auto;
  /* center mein ho esliye keye margin left right se center hojyega  */
  /* background-color: yellow; */
}

/* :start */


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  ;
}

a:hover {
  font-weight: bold;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;

}

/* header */
header {
  padding: 0 2rem;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 50px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 50px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;

}

.navbar {
  width: 100%;
  height: 75px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}

.navbar .logo a {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-right: 1.8rem;

}

.navbar .toggle_btn {
  color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 77px;
  width: 300px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 200px;
}

.dropdown_menu li {
  padding: 0.89rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  .navbar .logo a {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
  }


}

@media (max-width: 992px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}


/* end */

.hero-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  margin: 8rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

/* .faded-text {
  user-select: none;
  font-size: 7em;
  color: rgb(231, 231, 231);
  bottom: -16%;
  left: -1%;
  font-weight: bold;
  transition: all 3s;
} */

.hero-section-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.hero-section-heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}

.role {
  color: #4e45d5;
  font-weight: 800;
}

.hero-section-sub-heading {
  font-size: 45px;
  line-height: 45px;
}

.hero-section-description {
  margin: 1rem;
  width: 70%;
  font-weight: 500;
}

.btn-pink {
  background-color: var(--bgOrange);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  -webkit-box-shadow: 5px 5px 7px 0px #0000003f;
          box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}


.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-pink:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.btn-pink:hover {
  border: solid 3px var(--bgOrange);
  color: black;
}

#btn a {
  color: white;

}

#btn a:hover {
  color: black;
}

.hero-section-right {
  position: relative;

}

.absolute {
  position: absolute;
}

.user-image {

  padding: 1.7rem;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-animation: scaleImage 5s linear infinite;
          animation: scaleImage 5s linear infinite;
}

.user-image img {
  z-index: -9;
}

@-webkit-keyframes scaleImage {
  0% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {

    -webkit-transform: scale(1.1);

            transform: scale(1.1);
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-box-shadow: 3px 3px 10px black;
            box-shadow: 3px 3px 10px black
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: grayscale(0);
            filter: grayscale(0);

  }
}

@keyframes scaleImage {
  0% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {

    -webkit-transform: scale(1.1);

            transform: scale(1.1);
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-box-shadow: 3px 3px 10px black;
            box-shadow: 3px 3px 10px black
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: grayscale(0);
            filter: grayscale(0);

  }
}

/* .icon-dots {
  z-index: 9;
  bottom: -1rem;
  right: 0;
  animation-name: dotsAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes dotsAnimation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }

}

.icon-cube {
  z-index: 9;
  top: -0.8em;
  right: 1em;
  animation-name: cubeRotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes cubeRotate {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }

  50% {
    transform: rotateY(180deg) translateY(-12px);
  }

  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}

.icon-circle {
  z-index: 9;
  left: 0;
  bottom: 0;
  animation-name: shakeEffect;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes shakeEffect {

  50% {
    left: 5%;
    bottom: 10%;
  }

}

.icon-zigzag {
  z-index: 9;
  top: 1.5em;
  left: -0.3em;
  animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {
  50% {
    left: 5%;
    top: 2%;
  }
}

.icon-plus {
  z-index: 9;
  top: -0.8rem;
  left: 50%;
  animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
  50% {
    top: 3%;
    left: 48%
  }
} */

.project-section {
  background-color: rgb(231, 231, 231);

  margin-top: 4rem;
}

.page-header {
  color: var(--bgOrange);
  font-size: 90px;
  text-align: center;
  padding-top: 30px
}

.project-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 120px;

}

.project-card {
  width: 80%;
  height: 450px;
  background-image: url(./images/projects/Project1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  -webkit-box-shadow: 0px 0px 40px #1f1f1f;
          box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after {
  content: "";
  /* content by defalut isme daal nah hota hai agr kuch nhi de rhe toh isme yeh "" daal dete hai */
  position: absolute;
  /* img k upr krwa rhe hai isliye imse postion absolute keye hai */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0d0c0c9a;
  z-index: 0;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: -o-linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 1;
}

.project-card:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.project-number {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: white;
  z-index: 10;
  display: none;
}

.project-card:hover .project-number {
  display: block;
  /* use any one */
  opacity: 1;

}

.project-number-right {
  right: -40px;
  top: -45px;

}

.project-number-left {
  left: -40px;
  top: -45px;
}

.project-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 2em;
  bottom: 20%;
  z-index: 5;
  gap: 1em;
  -webkit-transition: all 0.1;
  -o-transition: all 0.1;
  transition: all 0.1;
}

.project-content-left {
  left: 10%;
}

.project-content-right {
  right: 10%;
}

.project-skills-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}

.project-skill {
  width: 40px;
}

.project-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.project-subHeading {
  width: 70%;
  font-size: 18px;
  font-style: italic;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-project:hover {
  border: none;
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 45px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.icon:hover {
  color: var(--bgOrange);
}

.project-card:hover .project-content {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

#project1 {
  background-image: url(./images/projects/Project1.png);
}

#project2 {
  background-image: url(./images/projects/Project2.png);
  margin-left: 200px;
}

#project3 {
  background-image: url(./images/projects/Project3.png);
}

#project4 {
  background-image: url(./images/projects/Project4.png);

  margin-left: 200px;
 
}
#project5 {
  background-image: url(./images/projects/Project5.png);
}
#project6 {
  background-image: url(./images/projects/Project6.png);
 
  margin-left: 200px;
 
}
#project7 {
  background-image: url(./images/projects/Project7.png);
  margin-bottom: 70px;
}



@media (max-width:1270px) {
  .page-header {
    padding-top: 30px;
    color: var(--bgOrange);
    text-align: center;
    font-size: 40px;
  }

  .project-container {
    padding: 5px;
    margin: 10px;
    gap: 60px;
  }

  .project-card {
    width: 70%;
    height: 50px;

  }

  .project-card {
    background-size: cover;
    background-position: center;
  }

  .project-content {
    scale: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  .project-content-left {
    left: 0;
  }

  .project-heading {
    font-size: 40px;
    width: 100%;
  }

  .project-sub-heading {
    width: 100%;
  }

  #project2 {
    margin-left: 0;
  }

  #project4 {
    margin-left: 0;
  }

  .project-skill-container {
    width: 100%;
  }

  .project-skill {
    width: 35px;
  }

  .project-card:hover .project-number {
    display: none;
  }

  .project-card:hover .project-content {
    scale: 0.55;
  }
}

.skills-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem;
  /* margin: 10rem auto; */
  gap: 30px;
  background: #fafafa;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.skill-container-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  position: relative;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-fade-text {
  position: absolute;
  font-size: 8em;
  font-style: bold;
  color: rgb(215, 213, 213);
  bottom: -4%;
  right: 1%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* work */
  overflow-y: hidden;
}

.blob-style {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: blobAnimate 3s linear infinite;
          animation: blobAnimate 3s linear infinite;
  z-index: -5;
  ;
}

@-webkit-keyframes blobAnimate {
  50% {
    top: 54%;
    left: 50%;
  }
}

@keyframes blobAnimate {
  50% {
    top: 54%;
    left: 50%;
  }
}

.skills-logo {
  width: 95px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  /* cursor: pointer; */

}

.skills-logo:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.skill-heading {
  color: var(--bgOrange);
  font-size: 50px;
  font-style: bold;
  line-height: 50px;
}

.caps {
  font-size: 90px;
}

.skill-subHeading {
  margin-top: 1rem;
  width: 85%;
  /* work-krna hai */
  text-align: justify;
}

.skill-subHeading p {
  margin: 15px 0;
  

}
.skill-linkedin{
  font-weight: 700;
  font-size: 18px;
  /* font-family: 'Source Sans Pro', sans-serif; */
  color: #343d68aa;
  text-align: center;
}



.contanctus-form-container {
  width: 100%;
  background-color: rgb(231, 231, 231);

}

.contactus-heading {
  font-size: 5em;
  color: var(--bgOrange);
  padding-top: 5rem;
}

.contactus-sub-heading {
  font-size: 3rem;
  color: #343d68aa;
  /* phlela letter capital hojyega */
  text-transform: capitalize;
}

.contactus-form-container {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 70%;
  margin: 2rem 5rem;
}

.formfield-container {
  width: 100%;
}

.formfield {
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  font-size: 18px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px #1f1f1f;
          box-shadow: 2px 2px 10px #1f1f1f;
  font-weight: 500;
  border: none;
  margin-top: 27px;
}

.formfield-textarea {
  height: auto;
  padding-top: 1rem;
}

#submit-btn {
  border: none;
  font-size: 1.4rem;
  margin: 1rem 0;

}

#submit-btn:hover {
  scale: 0.9;
}

.submit-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
  text-align: center;
}


footer {
  position: relative;
  margin-top: -1px;
  background-color: #343d68;
  padding: 5rem;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-faded-text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #535c87;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 5em;
}

.link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
}

.link-wrapper div a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.link-wrapper div a:hover {
  color: var(--bgOrange);
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}



/* media-querys */
@media (max-width: 500px) {



  .container {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

  }

  .hero-section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;


  }

  /* .faded-text {
   user-select: none;
   font-size: 7em;
   color: rgb(231, 231, 231);
   bottom: -16%;
   left: -1%;
   font-weight: bold;
   transition: all 3s;
 } */

  .hero-section-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* gap: 2rem; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;



  }

  .hero-section-heading {
    margin-top: 2rem;
    font-size: 22px;
    color: #343d68;
    font-weight: 500;
    font-weight: bold;

  }

  .role {

    color: #4e45d5;
    font-weight: 1000;
  }

  .hero-section-sub-heading {
    position: relative;
    bottom: 52px;
    font-size: 19px;


  }


  .hero-section-description {
    position: relative;
    bottom: 62px;
    margin: 1rem;
    width: 100%;
    font-weight: 500;
    text-align: center;
    line-height: 1.6;
  }

  .hero-btn {
    position: relative;
    bottom: 53px;

  }

  .hero-section-right {
    display: none;

  }


  .page-header {
    /* padding-top: 30px; */
    color: var(--bgOrange);
    text-align: center;
    font-size: 40px;
  }

  .project-container {
    padding: 5px;
    margin: 10px;
    gap: 90px;
    margin-top: 49px;
  }

  .project-card {
    width: 100%;
    height: 300px;

  }

  .project-card {
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .project-content {
    scale: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    
  }

  .project-content {
    position: absolute;
   padding:0;
   padding-top: 0;
   width: 100%;
   gap: 2rem;

  }

 
  .project-heading {
    -webkit-transform: translateX(-18%);
        -ms-transform: translateX(-18%);
            transform: translateX(-18%);
    font-size: 40px;
    width: 500px;
  
    line-height: 3rem;
  }
  .project-subHeading {
    width: 500px;
    -webkit-transform: translateX(-18%);
        -ms-transform: translateX(-18%);
            transform: translateX(-18%);
    font-size: 20px;
    font-style: italic;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-skill {
    width: 40px;
    -webkit-transform: translateX(-199%);
        -ms-transform: translateX(-199%);
            transform: translateX(-199%);
  }

  #project2 {
    margin-left: 0;
  }

  #project4 {
    margin-left: 0;
  }
  #project6 {
    margin-left: 0;
  }
 
 
  .project-skill-container {
    width: 100%;

  }

  .project-skill-container2 {
    margin: -24px;

  }

  .project-skill {
    width: 35px;
  }

  .project-card:hover .project-number {
    display: none;
  }

  .project-card:hover .project-content {
    scale: 0.55;
  }
  .project-number {
    font-size: 80px; 
  }
  
  .project-card:hover .project-number {
    display: block;
    /* use any one */
    opacity: 1;
  
  }
  
  .project-number-right {
    right: -13px;
    top: -32px;
  
  }
  
  .project-number-left {
    left: -40px;
    top: -45px;
  }
  .btn-group{
    margin-top: 3rem;
  }


  .skills-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem;
    margin-top: 0;
    gap: 30px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 2rem;


  }

  .skill-container-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .skill-container-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    position: relative;
    gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .skill-fade-text {
    display: none;
  }

  .blob-style {
    display: none;
  }

  .skills-logo {
    width: 50px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;


  }

  .skills-logo:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .skill-heading {
    color: var(--bgOrange);
    font-size: 30px;
    font-style: bold;
    line-height: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .caps {
    font-size: 60px;
  }

  .skill-subHeading {
    margin-top: 1rem;
    width: 88%;
    text-align: justify;
  }

  .skill-subHeading p {
    margin: 15px 0;
    
  }
  .skill-linkedin{
    font-size: 15px;
  }
  /* contactme */


  .contanctus-form-container {
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

  }

  .contactus-heading {

    font-size: 3rem;
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;


  }

  .contactus-sub-heading {
    padding-top: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align-items: center; */
    text-align: center;
    line-height: 1.6;

  }

  .contactus-form-container {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 100%;
    gap: 2px;
    margin: 1rem 1rem;
  }

  .formfield-container {
    width: 100%;
  }

  .formfield {
    width: 100%;
    height: 30px;
    padding: 0 2rem;
    font-size: 10px;
  }

  .formfield-textarea {
    height: auto;
    padding-top: 1rem;
  }

  #submit-btn {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.5em;
    margin: 1rem 0;
    width: 120px;
    height: 40px;
  }

  .submit-icon {
    padding: 0 1rem;
    font-size: 1rem;
  }

  /* footer */
  footer {
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 1rem;

  }

  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }

  .footer-faded-text {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 5em;
  }

  .link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 122px;


  }

  .link-wrapper div a {

    color: white;
    text-decoration: none;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;


  }



  .icon-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 12rem;

    gap: 1.5rem;
  }

  .icon-wrapper a i {
    width: 28px;
  }


}
